nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
main {
  max-width: 1440px;
  margin: auto;
  padding: 24px;
}
@media (max-width: 600px) {
  main {
    padding: 16px;
  }
}
